<div class="paso-container">
    <h2>Datos del solicitante</h2>
    
    <form [formGroup]="solicitanteForm">
      <div class="formulario-grid">
        <div class="campo-radio">
          <label>Tipo de procedimiento:</label>
          <mat-radio-group formControlName="esProcedimientoJudicial">
            <mat-radio-button [value]="true">Judicial</mat-radio-button>
            <mat-radio-button [value]="false">No judicial</mat-radio-button>
          </mat-radio-group>
        </div>
        
        <mat-form-field appearance="outline">
          <mat-label>Destinatario</mat-label>
          <mat-select formControlName="destinatario">
            <mat-option *ngFor="let dest of destinatariosDisponibles" [value]="dest">
              {{ dest }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="solicitanteForm.get('destinatario')?.hasError('required')">
            El destinatario es obligatorio
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Órgano</mat-label>
          <mat-select formControlName="organo">
            <mat-option *ngFor="let org of organosDisponibles" [value]="org">
              {{ org }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="solicitanteForm.get('organo')?.hasError('required')">
            El órgano es obligatorio
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Tipo Referencia</mat-label>
          <mat-select formControlName="tipoReferencia">
            <mat-option *ngFor="let tipo of tiposReferenciaDisponibles" [value]="tipo">
              {{ tipo }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="solicitanteForm.get('tipoReferencia')?.hasError('required')">
            El tipo de referencia es obligatorio
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero">
          <mat-error *ngIf="solicitanteForm.get('numero')?.hasError('required')">
            El número es obligatorio
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Referencia remitente</mat-label>
          <input matInput formControlName="referenciaRemitente">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Responsable solicitud</mat-label>
          <input matInput formControlName="responsableSolicitud">
        </mat-form-field>
      </div>
    </form>
  </div>