<div class="agenda-container">
    <div class="agenda-header">
      <h1>AGENDA</h1>
      
      <div class="volver-link">
        <a (click)="volverABandejaTareas()">
          <mat-icon>arrow_back</mat-icon>
          Volver a Bandeja de Tareas
        </a>
      </div>
      
      <div class="vistas-tabs">
        <button mat-button 
          [class.active]="vistaActual === 'mensual'"
          (click)="cambiarVista('mensual')">
          Vista Mensual
        </button>
        <button mat-button 
          [class.active]="vistaActual === 'semanal'"
          (click)="cambiarVista('semanal')">
          Vista Semanal
        </button>
        <button mat-button 
          [class.active]="vistaActual === 'horaria'"
          (click)="cambiarVista('horaria')">
          Agenda Horaria
        </button>
      </div>
    </div>
    
    <div class="agenda-content">
      <router-outlet></router-outlet>
    </div>
  </div>